section {
  padding: 20px;
      background: rgb(251, 40, 68);
      max-width: 1200px;
      margin: 0 auto;
gap: 20px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  justify-content: space-around;

  .column1 {

    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 47, 75);
    gap: 10px;

    & img {
     height: 50%;
         filter: invert(100%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(100%) contrast(84%);

    }

  }

  .column2 {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 47, 75);

    & p {
      color: aliceblue;
    }
  }

  .column3 {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 47, 75);

    & p {
      color: aliceblue;
    }
  }

  .column4 {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 47, 75);

    & img {
      height: 30%;
    }
  }

}

@media(width >=768px) {
  section {
    padding: 20px;
    display: flex;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    background: rgb(255, 47, 75);
    color: aliceblue;
    justify-content: space-around;
  }

}