<section>
  <div  class="column1">
    <img src="../../../assets/icons/whatsapp.svg" alt="">
    <img src="../../../assets/icons/facebook.svg" alt="">
    <img src="../../../assets/icons/instagram.svg" alt="">
  </div>
  <div class="column2">
    <p>Trabaja con nosotros</p>
    <p>Nuestros cursos</p>
    <p>Nuestra historia</p>
  </div>
  <div class="column3">
    <p>Secciones</p>
    <p>Temas de Interes</p>
    <p>Edición Internacional</p>
  </div>
  <div class="column4">
    <img src="../../../assets/logo-footer.png" alt="" />
  </div>
</section>
