<section>
  <header>
    <!-- principal article -->
    <article *ngFor="let pPost of principalPost">
      <a [routerLink]="['/principalPostDetail', pPost.id]">
      <img
        src="{{pPost.image}}"
        alt="{{pPost.title}}"
      />
      <div>
          <h2>
            <div class="section">
            <div class="square"></div>
            <small>{{pPost.section}}</small>
            </div>

            {{pPost.title}}
          </h2>

          <p>
            {{pPost.resume}}
          </p>
        </div>
      </a>
    </article>

    <!-- recent post -->
    <section class="recent-post-sports-container">
      <article class="article-recent-post" *ngFor="let post of recentPost">
        <a
       [routerLink]= "['/recentPostDetail', post.id]"
        >

          <h2>{{ post.title }}</h2>

          <p>{{ post.resume }}</p>
        </a>
        <div class="separator-recent-post-sport"></div>
      </article>
    </section>
  </header>
  <main>
    <div class="item1"></div>

    <div class="item2">
      <h2>La Era Del Gaming</h2>
      <p>
        Descubre la influencia de este 'Movimiento' en nuestra juventud y
        aprende a usar el gaming a tu favor
      </p>
    </div>
  </main>
  <div class="separator"></div>

  <!-- other news -->
  <section class="other-news--p-container" >
    <h2 class="other-news-title">Other news</h2>
     <div class="other-news-container" >
        <article class="article-other-news " *ngFor="let onews of OtherNews"  >
          <a
          [routerLink]="['/onewsDetail', onews.id]"
          >
          <small class="small">{{onews.section}}</small>
             <p>{{onews.title}}</p>
            </a>
        </article>
     </div>
  </section>



  <!-- videos -->
  <section class="videos-section-container">
    <h2>Videos de la semana</h2>
    <section class="videos-container">
      <div class="videoContainer">
        <h3 class="video-title">Niños Prodigio</h3>
        <video src="../../../assets/videos/niño-prodigio.mp4" width="100%" height="100%" controls>
        </video>
      </div>
      <div class="videoContainer">
        <h3 class="video-title">Deporte Paralimpico</h3>
         <video src="../../../assets/videos/niño-prodigio.mp4" width="100%" height="100%" controls>
        </video>

      </div>
    </section>
  </section>

  <section class="comments-container">
    <h2>Comentarios</h2>
    <app-comments />
  </section>


</section>
