section {
  height: 7vh;
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
   border-top: solid 4px rgba(128, 128, 128, 0.109);
   border-bottom: solid 4px rgba(128, 128, 128, 0.109);


  & ul {
    display: flex;
    list-style: none;
    width: 80%;
    height: 5vh;
    align-items: center;
    justify-content: center;

    & li {
      margin: 0 15px;
      font-size: 1.2rem;
      background: rgb(236, 236, 236);
      padding: 5px 15px;
      cursor: pointer;
      border: none;
    }

    & li:hover {
      background: #FF153E;
      color: aliceblue;
      border: none;

    }
  }

}